body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
  input {
    background: #1f1f1f;
    color: white;
  }
}
